<div class="row">
  <div class="col-lg-6"><div class="panel panel-default">
      <div class="panel-heading">
        <h6 class="panel-title"><i class="icon-calendar2"></i> Harian (7 hari)</h6>
      </div>
      <div class="panel-body">
        <div class="graph-standard" id="tujuh_hari"></div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    var transaksi = [];
    transaksi['pemasukan'] = [];
    transaksi['pengeluaran'] = [];
    date = [];
    var curr = new Date;
    var first = curr.getDate();
    date.push(first);
    transaksi['pemasukan'][first] = 0;
    transaksi['pengeluaran'][first] = 0;
    for (var i = 1; i < 7; i++) {
      var next = new Date(curr.getTime());
      next.setDate(first - i);
      date.push(next.getDate());
      transaksi['pemasukan'][next.getDate()] = 0;
      transaksi['pengeluaran'][next.getDate()] = 0;
    }

    var dataPemasukan =<%= raw(@j.encode(@tujuh_hari_pemasukan)) %>;
    for (var key in dataPemasukan) {
      var dateParts = key.split("-");
      var jsDate = new Date(dateParts[0], dateParts[1] - 1, dateParts[2].substr(0, 2));
      var ind = jsDate.getDate();
      transaksi['pemasukan'][ind] = dataPemasukan[key];
    }


    var dataPengeluaran =<%= raw(@j.encode(@tujuh_hari_pengeluaran)) %>;
    for (var key in dataPengeluaran) {
      var dateParts = key.split("-");
      var jsDate = new Date(dateParts[0], dateParts[1] - 1, dateParts[2].substr(0, 2));
      var ind = jsDate.getDate();
      transaksi['pengeluaran'][ind] = dataPengeluaran[key];
    }

    var toPlotPemasukan = [];
    var toPlotPengeluaran = [];
    for (var key in transaksi['pemasukan']) {
      toPlotPemasukan.push([key, transaksi['pemasukan'][key]]);
    }

    for (var key in transaksi['pengeluaran']) {
      toPlotPengeluaran.push([key, transaksi['pengeluaran'][key]]);
    }

    console.log(toPlotPemasukan);
    console.log(toPlotPengeluaran);
    var plot = $.plot($("#tujuh_hari"),
            [{data: toPlotPengeluaran, label: "pengeluaran"}, {data: toPlotPemasukan, label: "pemasukan"}], {
      colors: ["#ee7951", "#6db6ee", "#95c832", "#993eb7", "#3ba3aa"],
      series: {
        lines: {show: true}, points: {show: true}
      },
      grid: {hoverable: true, clickable: true},
      yaxis: {font: {size: 11, lineHeight: 1, color: "#333333"}},
      xaxis: {
        tickSize: [1],
      }
    });

    function showTooltip(x, y, contents, areAbsoluteXY) {
      var rootElt = 'body';

      $('<div id="tooltip" class="chart-tooltip">' + contents + '</div>').css({
        top: y - 50, left: x - 9,
        opacity: 0.9
      }).prependTo(rootElt).show();
    }
    ;

    var previousPoint = null;
    $("#tujuh_hari").bind("plothover", function(event, pos, item) {
      $("#x").text(pos.x.toFixed(2));
      $("#y").text(pos.y.toFixed(2));

      if ($("#tujuh_hari").length > 0) {
        if (item) {
          if (previousPoint != item.dataIndex) {
            previousPoint = item.dataIndex;

            $("#tooltip").remove();
            var x = item.datapoint[0].toFixed(0),
                    y = item.datapoint[1].toFixed(2);

            showTooltip(item.pageX, item.pageY,
                    item.series.label + " tanggal " + x + " = " + y);
          }
        }
        else {
          $("#tooltip").remove();
          previousPoint = null;
        }
      }
    });
  });
</script>